  @import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@500&display=swap');

  *{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family:'David Libre', serif;
    text-transform: uppercase; 
  }
:root{
  --background: var(--color4);
}

*::before , *::after{
    box-sizing: border-box;
}

/*!-- navigation CSS Styling begins */ 
.body{
  font-weight: 500;
  --color1: #e1c0c5;
  --color2: #74B9F4;
  --color3: #f0f8ff;
  --color4: #bf5555;
  --color5: #b2dbe4;
}
