  @import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@500&display=swap');

  *{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family:'David Libre', serif;
    text-transform: uppercase; 
    scroll-behavior: smooth;

  }
:root{
  --background: var(--color4);
}

*::before , *::after{
    box-sizing: border-box;
}

/*!-- navigation CSS Styling begins */ 
.body{
  font-weight: 500;
  --color1: #e1c0c5;
  --color2: #74B9F4;
  --color3: #f0f8ff;
  --color4: #bf5555;
  --color5: #b2dbe4;
  --color6: #274b6c;
}
header{
  background: #f0f8ff;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 0 50px;
  word-spacing: 2px;
  z-index: 1000;
}
 .logo{
  margin: 0;   
  color:#bf5555;
  font-size: 20px;
  text-transform: none;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
header nav ul{
  display: flex;
}
header nav li a{
  color:#bf5555;
  padding: 3px 28px;
  margin: 0 10px;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
  border: 3px solid transparent;
  transition: 0.3s;
  line-height: 100px;
}
header nav li a:hover{
  background: #f0f8ff;
  color: #7da789;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 96px;
}

h3, h4{
  font-size: 15px;
  opacity: 0.7;
  color:#274b6c;
  text-align: center;
  padding: 20px;
  text-transform: none;
  font-style: italic;
  letter-spacing: 2px;
  line-height: 25px;
}

p, h5 {
  font-size: 13px;
  line-height: 1.5;
  color: green;
  text-transform: none;
}
body{
  background-color: #b5aaaa;
}

.head {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0c3e1a;
  flex-direction: column;
  position: relative;
  font-weight: 500;
  letter-spacing: 2px;
}
.about .about-content {
  position: relative;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}
h2{
  font-size: 48px;
  color: #e0ece3;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  line-height: 2;
}
.index-banner{
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url(media/pexels-tom-cordner-1423681.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}
.content-center{
  display: table-cell;
  vertical-align: middle;
}
.index-banner h2{
  font-family:'David Libre', serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 70px;
  text-align: center;
  text-shadow: 1px 1px 9px #111;
}
.index-linkbox div {
  margin: 15px 15px 0;
  width: calc(100% - 31px);
  height: 100px;
  background-color: #9a8d8d;
  cursor: pointer;
}

.index-linkbox div h3{
  font-family:'David Libre', serif;
  font-size: 28px;
  font-weight: 500;
  height: 100px;
  text-align: center;
  text-transform: uppercase;
  color: #e0ece3;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  padding: 40px 40px;
  width: 100%;
  margin-top: 20px;
}
footer ul{
width: fit-content;
padding-left: 20px 20px;
}
 
.social-icons {
  display: inline-block;
  margin: 0 auto;
}
.icon {
  display: inline-block;
  padding: 10px;
  color: #fff;
  transition: all 0.3s ease;
}
.icon:hover {
  transform: translateY(-5px);
}
.icon i {
  font-size: 24px;
}
.icon i.fa-facebook-f {
  color: #3b5998;
}
.icon i.fa-twitter {
  color: #55acee;
}
.icon i.fa-instagram {
  color: #e4405f;
}
.footer{
  align-items: left;
}
.accordion {
  margin: 0px auto;
  width: 700px;
}

.accordion li {
  list-style: none;
  width: 100%;
  margin: 20px;
  padding: 10px;
  letter-spacing: 1.5px;
  background: #c1b8b8;
  box-shadow: 5px 5px 12px -1px rgba(0, 0, 0, 0.14), -5px -5px 12px -1px rgba(224, 215, 215, 0.7);
}

.accordion li label {
  display: flex;
  position: relative;
  align-items: center;
  padding: 10px;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: bolder;
  color: #04611e;
}

.accordion li label:hover {
  color: #7da789;
  cursor: pointer;
}

.accordion-label::before {
  content: '+';
  margin-right: 20px;
  font-size: 24px;
  font-weight: 800;
}

.accordion input[type='radio'] {
  display: none;
  line-height: 26px;
}

.accordion .accordion-content {
  max-height: 0;
  line-height: 20px;
  padding: 0 10px;
  overflow: hidden;
  transition: max-height 0.3s, padding 0.3s;
}

.accordion p {
  color: #e9eef2;
}

.accordion input[type='radio']:checked + .accordion-label + .accordion-content {
  max-height: 700px;
  padding: 10px;
}

.accordion input[type='radio']:checked + label::before {
  content: '-';
}
.hero{
  width: 100%;
  height: 100vh;
  background-image: url(media/moon\ pexels-hayana-fernanda-4987377\ \(1\).jpg);
  background-position: center;
  background-size: cover;
} 